.item:hover{
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.back:hover{
    color: brown;
    cursor: pointer;
}

.trash:hover{
    color: #f73e3e;
}

.example-form-field {
    /* width: 80%; */
  }